
input, input[type="button"], input[type="submit"] ，input[type="reset"] {
  -webkit-appearance: none;
}
.bg{
  background-image: linear-gradient(143deg, #009dff 0%, #00dfff 100%);
  height: 2.65rem;
}

.favor-header-bar {
  padding: 0 1.1rem;
  /*overflow: hidden;*/
  height: 3.4rem;
  line-height: 3.46rem;
  border-bottom: 1px solid #ffffff;
}

.favor-header-bar li {
  display: block;
  margin-top: .1rem;
  width: 9rem;
  text-align: center;
  margin-left: 2.75rem;
  float: left;
  margin-left: -1px;
  height: .75rem;
  line-height: .8rem;
  margin-top: .1rem;
  /*padding-bottom: .5rem;*/
  /*change*/
  /*改变边距*/
  border-right: 0px solid #e1e1e1;
  position: relative;
}

.favor-header-bar a {
  font-size: .4rem;
  color: #333;
  display: block;
  /*padding-bottom: 0rem;*/
  /*改变*/
  width: 55%;
  margin: 0 auto;
}

.favor-header-bar li:last-child {
  border-right: none;
}

.favor-header-bar li.default a {
  color: #ffffff;
  border-bottom: 10px solid #ffffff;
}
.favor-header-bar a{
  color: #ffffff;
}

.favor-list.swiper-container {
  margin-top: .1rem;
  /*正文高度*/
  width: 100%;
  /*speed*/
}

.favor-list a {
  display: block;
  width: 1000%;
}

/*.nofavor {*/
  /*width: 46.8%;*/
  /*margin: 16.5% auto 0 auto;*/
/*}*/
.tabs {
  display: inline-flex;
  display: flex;
  justify-content: space-between;
  margin-top: rem;
  /*调整位置*/
}
.the_center{
  display: block;
  display: inline-block;
  text-align: center;
}

.send{
  width: 1.925rem;
  height: .625rem;
  font-family: PingFangSC-Semibold;
  font-size: 0.45rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.025rem;
  color: #ffffff;
  float: left;
  margin-right: .6rem;
  flex: 1;
  text-align: center;
  margin-top: 0.725rem;
}
.right{
  height: 1.675rem;
  width: .6rem;
  float: left;
}
.rectangle {
  width: 100%;
  height: 1.675rem;
  display: flex;
  /*background-image: linear-gradient(143deg, #009dff 0%, #00dfff 100%);*/
}
.right img{
  margin-top: 0.8rem;
}
.logo {
  text-align: center;
}

.logo img {
  width: 2.475rem;
  height: 2.475rem;
  margin-top: 1.175rem;
}
.tips {
  margin-top: .5rem;
}
.tips_font {
  font-family: PingFangSC-Medium, Microsoft YaHei UI;
  font-size: 0.25rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.028rem;
  color: #b8b8b8;
  text-align: center;
}

.tips {
  margin-top: .5rem;
}

.tips_font {
  font-family: PingFangSC-Medium, Microsoft YaHei UI;
  font-size: 0.25rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.028rem;
  color: #b8b8b8;
  text-align: center;
}

.li1 {
  width: 100%;
  height: 1.075rem;
  margin-bottom: .1rem;
  background-color: #f0f0f0;
}
.li4 {
  position: fixed;
  bottom: 0;
  margin-bottom: .625rem;
}

.li4 img {
  margin-left: .975rem;
}
.bgDiv {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  position: fixed;
  display: none;
  z-index: 99;
  bottom: 0;
}

.leftNav {
  width: 67%;
  max-width: 1000px;
  height: 100%;
  background-color: #ffffff;
  /*左划菜单实现*/
  position: fixed;
  z-index: 999;
  top: 0;
  left: -67%;
}
.icon_size2 {
  float: left;
  margin-left: 0.7845rem;
  margin-top: 0.3rem;
}
.bb{
  width: 0.125rem;
  height: 1.075rem;
  background-color: #24bafc;
  float: left;
  maigin-top:1rem;
}
.mading{
  font-family: PingFangSC-Medium;
  font-color:#616161;
  letter-spacing: 0.035rem;
  float: left;
  margin-left: 0.31rem;
  margin-top: 0.26rem;
  font-size: .4rem;
}
.li4 {
  width: 100%;
  height: 1.075rem;
  position: fixed;
  bottom: 0;
  margin-bottom: .325rem;
}
.font {
  font-family: PingFangSC-Medium, Microsoft YaHei UI;
  font-size: 0.4rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.035rem;
  color: #616161;
}
.li2 {
  width: 100%;
  height: 1.075rem;
  margin-bottom: .1rem;
  background-color: #FFFEFD;
}
.username {
  display: block;
  display: inline-block;
  text-align: center;
  font-family: PingFangSC-Medium, Microsoft YaHei UI;
  font-size: 0.625rem;
  font-weight: normal;
  font-stretch: normal;
  color: #616161;
  margin-bottom: .6rem;
}
.func {
  margin-top: .9rem;
  margin-bottom: 4.2rem;
}